[Unit]
Description=Encrypted Swap Setup
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'if [ -f /swapfile ]; then cryptsetup open --type plain --key-file /dev/urandom /swapfile swapcrypt && mkswap /dev/mapper/swapcrypt && swapon /dev/mapper/swapcrypt; fi'
ExecStop=/bin/bash -c 'swapoff /dev/mapper/swapcrypt && cryptsetup close swapcrypt'

[Install]
WantedBy=multi-user.target
